<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441735735323-e2jk15n6vqjqqqtqm6i7c2ea8kvj8u76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441735735323-e2jk15n6vqjqqqtqm6i7c2ea8kvj8u76</string>
	<key>API_KEY</key>
	<string>AIzaSyBibW6RUlOmGP8mdotUH619YY4RsDhOh84</string>
	<key>GCM_SENDER_ID</key>
	<string>441735735323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosdatalogger</string>
	<key>PROJECT_ID</key>
	<string>temporal-bebop-343615</string>
	<key>STORAGE_BUCKET</key>
	<string>temporal-bebop-343615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441735735323:ios:13cde0394f191a1f4bf0be</string>
</dict>
</plist>